.game-details-cover {
    max-height: 200px;
    max-width: 200px;
    display: block;
}

.game-details-title {
    margin-bottom: 40px;
}

.game-reviews-list {
    background-color: hsl(0, 0%, 90%);
    list-style: none;
    padding: 8px;
    border-radius: 5px;
}

.game-reviews-list li {
    margin-bottom: 16px;
}

.game-reviews-list li:last-of-type {
    margin-bottom: 0;
}

.game-details-summary-title {
    margin: 0;
}

.create-review-content-box {
    min-width: 100%;
}

div.create-review {
    margin-bottom: 0;
}

.delete-review-form {
    display: inline-block;
    margin-left: 20px;
}