@{
    ViewBag.Title = "Home Page";
}

@section Banner
{
    <p>Your <strong>#1</strong> site for rating games and writing reviews!</p>
    @Html.ActionLink("Get started now!", "Index", "Games", new {}, new {@class = "btn btn-primary btn-lg"})
}

